.card {
    display: flex;
    flex-direction: column;
}
.nothing {
    display: none;
}
.new-product-card {
    display: flex;
    flex-direction: column;
}
.new-product-card > label > input {
    width: 150px;
}
.new-product-card > label > span:nth-child(1) {
    width: 80px;
}
.new-product-card > label > span:nth-child(3) {
    color: red;
    width: 440px;
}
.new-product-card > label {
    display: flex;
    justify-content: space-between;
    width: 700px;
}
.new-product-card > label.buttons {
    display: flex;
    justify-content: flex-start;
}
.new-product-card > label.buttons > input{
   width: fit-content;
}
