
.buttons {
    width: fit-content;
    height: 101px;
    display: flex;
    align-items:center;
}
.button{
    /* background-image: -webkit-linear-gradient(top, #f4f1ee, #fff); */
    /* background-image: linear-gradient(top, #f4f1ee, #fff); */
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 1px 1px 1px white, inset 0px -1px 1px 1px white;
    float:left;
    height: 70px;
    margin: 0;
    position: relative;
    width: 70px;			
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.button:after{
    color:#e9e6e4;
    content: "";
    display: block;
    font-size: 30px;
    height: 30px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    position: absolute;
    width: 30px;
}


.heart:after{
    content: "❤";
    left: 19px;
    top: 16px;
}


.cross:after{
    content: "✖";
    left: 22px;
    top: 15px;
}

.button:hover{
    /* background-color:#22254b; */
    color: #f94e66;
    cursor: pointer;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 1px 1px 1px #f94e66, inset 0px -1px 1px 1px #f94e66;

}

.heart:hover:after{
    color:#f94e66;
    text-shadow:0px 0px 6px #f94e66;
}



.cross:hover:after{
    color:#eb2f2f;
    text-shadow:0px 0px 6px #eb2f2f;
}



