
.pages {
    margin: 20px 0 ;
    width: fit-content;
}
    .page, .current-page{
      color: white;
      border: 1px solid lightgray;
      border-radius: 100%;
      padding: 5px 10px;
      margin: 0 10px;
      cursor: pointer;
    }
    .current-page {
      border: 2px solid red;
      color: red;
      font-weight: 700;
    }
.pages a {
    text-decoration: none;
}
    .page:hover {
        background-color:red;
    }
  